/* this is based on the stylesheets available at:                                                                    */
/*     http://www.bluerobot.com/web/layouts/                                                                         */
/* At the time this was copied, the statement:                                                                       */
/*     "Please feel free to borrow, steal, abduct, and/or torture the documents contained in the Layout Reservoir."  */
/* was made.                                                                                                         */

body {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #333;
    background-color: white;
}

input, textarea, select {
    font-size: 10px;
    font-family: verdana, arial, helvetica, sans-serif;
    border: 1px solid #284279;
}

h1 {
    margin: 0px 0px 15px 0px;
    padding: 0px;
    font-size: 28px;
    line-height: 28px;
    font-weight: 900;
    color: #ccc;
}

h2 {
    margin: 0px 0px 15px 0px;
    padding: 0px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    font-family: verdana, arial, helvetica, sans-serif;
}

h3 {
    margin: 0px 0px 15px 0px;
    padding: 0px;
    font-size: 9px;
    line-height: 10px;
    font-weight: 600;
    font-family: verdana, arial, helvetica, sans-serif;
}

p {
    font: 10px/20px verdana, arial, helvetica, sans-serif;
    margin: 0px 0px 16px 0px;
    padding: 0px;
}

#Content>p {
    margin: 0px;
}

#UserInformation>p {
    font: 9px/18px verdana, arial, helvetica, sans-serif;
}

td {
    font: 10px/20px verdana, arial, helvetica, sans-serif;
    margin: 0px 0px 16px 0px;
    padding: 0px;
}

th {
    font: 10px/20px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    margin: 0px 0px 16px 0px;
    padding: 0px;
}

a {
    color: #09c;
    font-size: 10px;
    text-decoration: none;
    font-family: verdana, arial, helvetica, sans-serif;
}

a:link {
    color: #09c;
}

a:visited {
    color: #07a;
}

a:hover {
    text-decoration: underline;
}

#Header {
    margin: 50px 0px 10px 0px;
    padding: 17px 0px 0px 20px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0px;
    line-height: 11px;
    background-color: #eee;
    height: 14px;
}

#EntityLock {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 26px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0px;
    line-height: 11px;
    background-color: #eee;
    height: 20px;
}

#UserSession {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 26px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0px;
    line-height: 11px;
    background-color: #eee;
    height: 20px;
}

#Copyright {
    margin: 10px 0px 00px 0px;
    padding: 0px 0px 0px 26px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0px;
    line-height: 11px;
    background-color: #eee;
    height: 20px;
}

#UserInformation {
    padding: 0px 0px 0px 20px;
    height: 14px;
}

#Content {
    margin: 0px 50px 50px 50px;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6, p, strong, div, form, acronym, label, table, td, th, span, a, hr, code, pre, hr {
    background-repeat: no-repeat;
}

.executionErrors {
    background: #fff6bf url(../stylesheets/silk/exclamation.png) center no-repeat;
    background-position: 15px 50%;
    text-align: left;
    padding: 5px 20px 5px 45px;
    border-top: 1px solid #ffd324;
    border-bottom: 1px solid #ffd324;
}

.executionWarnings {
    background: #f8fafc url(../stylesheets/silk/information.png) center no-repeat;
    background-position: 15px 50%;
    text-align: left;
    padding: 5px 20px 5px 45px;
    border-top: 1px solid #b5d4fe;
    border-bottom: 1px solid #b5d4fe;
}

table.displaytag {
    border: 1px solid #666;
    margin: 10px 0 10px 0;
}

table.displaytag th {
    font: 10px verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    padding: 2px 4px 2px 4px;
    text-align: center;
    vertical-align: top;
}

table.displaytag td {
    font: 10px verdana, arial, helvetica, sans-serif;
    padding: 2px 4px 2px 4px;
    text-align: left;
    vertical-align: top;
}

table.displaytag td.amount {
    text-align: right;
}

table.displaytag td.percent {
    text-align: right;
}

table.displaytag td.quantity {
    text-align: right;
}

table.displaytag td a {
    padding: 0px 3px 0px 3px;
    background-color: #eee;
}

table.displaytag td a:hover {
    background-color: #ddd;
    text-decoration: underline;
}

table.displaytag thead tr {
    background-color: #fc0;
}

table.displaytag th a, th a:visited {
    color: black;
}

table.displaytag th a:hover {
    text-decoration: underline;
    color: black;
}

table.displaytag th.sorted a, th.sortable a {
    background-position: right;
    display: block;
}

table.displaytag th.sortable a {
    padding: 0px 13px 0px 3px;
    background-image: url(arrow_off.png);
}

table.displaytag th.order1 a {
    padding: 0px 13px 0px 3px;
    background-image: url(arrow_down.png);
}

table.displaytag th.order2 a {
    padding: 0px 13px 0px 3px;
    background-image: url(arrow_up.png);
}

table.displaytag tr.odd {
    background-color: #fff
}

table.displaytag thead tr {
    background-color: #69c;
}

table.displaytag tr.even {
    background-color: #def;
}

div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../stylesheets/ico_file_excel.png);
}

span.csv {
	background-image: url(../stylesheets/ico_file_csv.png);
}

span.xml {
	background-image: url(../stylesheets/ico_file_xml.png);
}

span.pdf {
	background-image: url(../stylesheets/ico_file_pdf.png);
}

span.rtf {
	background-image: url(../stylesheets/ico_file_rtf.png);
}

span.pagebanner {
        background-color: #eee;
        border: 1px dotted #999;
        padding: 2px 4px 2px 4px;
        margin-top: 10px;
        display: block;
        border-bottom: none;
}

span.pagelinks {
        background-color: #eee;
        border: 1px dotted #999;
        padding: 2px 4px 2px 4px;
        display: block;
        border-top: none;
        margin-bottom: -5px;
}
